name: Continuous Integration Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install
        run: |
          npm ci

      - name: Test
        run: |
          npm run test

      - name: Types
        run: |
          npm run typecheck

      - name: Lint
        run: |
          npm run lint

      - name: StyleLint
        run: |
          npm run stylelint
